<!--Views/Home/Shared/_LoginPartial-->
@using System.Security.Claims

@if (User.Identity?.IsAuthenticated == true)
{
    <li class="nav-item">
        <a class="nav-link" asp-controller="Order" asp-action="Index">My Orders</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle me-1"></i>
            @User.FindFirstValue(ClaimTypes.Name)
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" asp-controller="Profile" asp-action="Index">My Profile</a></li>
            <li><a class="dropdown-item" asp-controller="Address" asp-action="Index">My Addresses</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
                <form asp-controller="Account" asp-action="Logout" method="post">
                    <button type="submit" class="dropdown-item">Logout</button>
                </form>
            </li>
        </ul>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link @(ViewContext.RouteData.Values["Action"]?.ToString() == "Login" ? "active" : "")" asp-controller="Account" asp-action="Login">Login</a>
    </li>
    <li class="nav-item">
        <a class="btn btn-primary ms-2" asp-controller="Account" asp-action="Register">Create an Account</a>
    </li>
}